$ff_primary: 'CircularStd';
$ff_primary_semibold: 'Muli - Semi Bold', sans-serif;
$ff_secondary: 'Source Sans Pro', serif;
$ff_secondary_semibold: 'Source Sans Pro - Semibold', sans-serif;

$primary: #faf6e9;
$red: #fc3044;
$secondary: #ece8d9;
$cream:#fffdf6;
$brown: #494949;

:export {
  red: $red;
  primary: $primary;
  secondary: $secondary;
  cream: $cream;
  brown: $brown;
}